/*
* 	daVinci buttons
*/
 	.nav-right-button, .nav-left-button, .find-button, .home-button 
	  { display: inline; padding: 0 1px 0 1px; border: none; font-family: "Segoe UI", "open_sans_lightregular"; color: white; font-size: 13px; font-weight: normal; cursor: pointer; 
	    opacity: 0.9; width: 48px; height: 48px; }

 	.nav-left-icon { display: list; padding: 7px 7px 7px 7px; border: none; background: url(left.png) no-repeat center; cursor: pointer; opacity: 0.9; width: 48px; height: 48px; }
 	.nav-right-icon { display: list; padding: 7px 7px 7px 7px; border: none; background: url(right.png) no-repeat center; cursor: pointer; opacity: 0.9; width: 48px; height: 48px; }
 	.find-icon { display: list; padding: 7px 7px 7px 7px; border: none; background: url(find.png) no-repeat center; cursor: pointer; opacity: 0.9; width: 48px; height: 48px; }
 	.home-icon { display: list; padding: 7px 7px 7px 7px; border: none; background: url(find.png) no-repeat center; cursor: pointer; opacity: 0.9; width: 48px; height: 48px; }

 	.nav-left-icon { background: url(left.png) }
 	.nav-right-icon { background: url(right.png) }
 	.find-icon { background: url(find.png) }
 	.home-icon { background: url(home.png) }
	
 	.home-button:hover, .find-button:hover, .nav-right-button:hover, .nav-left-button:hover { opacity: 1; }	
 	.home-button:active, .find-button:active, .nav-right-button:active, .nav-left-button:active { color: white !important; background-color: #191919 !important; }

 	.nav-left-button.iconize { background: url(left.png) no-repeat 90% center; !important; }
 	.nav-right-button.iconize { background: url(right.png) no-repeat 90% center; !important;}
 	.find-button.iconize { background: url(find.png) no-repeat 90% center;  !important;}
 	.home-button.iconize { background: url(home.png) no-repeat 90% center;  !important;}
 	
	.nav-left-button.yellow, .nav-left-icon.yellow { background-color: #fba919; }
	.nav-right-button.yellow, .nav-right-icon.yellow{ background-color: #fba919; }
	.find-button.blue, .find-icon.blue { background-color: #1F4788; }
	.home-button.black, .home-icon.black { background-color: #380000; }

 	ul.buttons { display: table; list-style: none; }
 	ul.buttons li { float: left; margin-right: 2px;  }
 	ul.buttons li:last-child { float: right; }

 	.hide { display: none; !important;}	

	
	
	